.AppButton {
  flex-basis: 25%;
  background-color: var(--color-light-gray);
  border: .042em solid var(--color-light-dark);
  border-radius: .417em;
  padding: .417em .833em;
}

.AppButton:hover {
  cursor: pointer;
  transition: .5s;
  filter: brightness(65%);
}
