.AppHeader {
  background-color: var(--color-light-gray);
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: .208em 1.25em;
  flex-wrap: wrap;
}

.Title {
  margin-left: .625em;
  flex-grow: 1;
}

.LinksWrapper {
  justify-self: flex-end;
  flex-basis: auto;
}

.LinksWrapper > :not(:last-child){
  margin-right: .625em;
}


.HamburgerMenu {
  display: none;
}

@media screen and (max-width:768px) {
  .LinksWrapper.LinksWrapper--toggled > a {
    display: block;
  }

  .HamburgerMenu {
    display: block;
  }

  .LinksWrapper {
    flex-basis: 100%;
  }

  .LinksWrapper > a {
    display: none;
  }
}
