.Link {
  display: inline-block;
  color: var(--color-light-dark);
  font-weight: 450;
  border-bottom: .042em solid var(--color-light-dark);
}

.Link:hover {
  filter: brightness(15%);
  transition: .5s;
}

.Link--active {
  filter: brightness(20%);
}
