.UserGradeSummaryContainer {
  margin-right: .833em;
  position: relative;
}

.UserGradeSummary {

}

.UserGradeSummary.UserGradeSummary--good {
  color: green;
}

.UserGradeSummary.UserGradeSummary--bad {
  color: red;
}

.UserGradeSummaryHover {
  position: absolute;
  left: -50%;
  top: 100%;
  background-color: var(--color-dark-gray);
  color: var(--color-white);
  padding: .833em;
}
