.Comment {

}

.HeaderContainer {
  display: flex;
  flex-direction: row;
}

.HeaderContainer .Author {
  flex-grow: 1;
  color: var(--color-black);
}

.HeaderContainer .Timestamp {
  color: var(--color-light-dark);
  font-size: .8em;
}

.Text {
  color: var(--color-light-dark);
  text-align: justify;
}
