.Article {
  display: flex;
  flex-direction: row;
  margin: .625em 0;
}

.Cover {
  margin-right: 1.25em;
  width: calc(100% / 6 * 2);
}

.CoverFeatured {
  width: calc(100% / 3 * 2);
}

.CoverImage {
  width: 100%;
  height: 100%;
  background-color: var(--color-light-gray);
}

.Container {
  width: calc(100%/6 * 4);
  display: flex;
  flex-direction: column;
}

.ContainerFeatured {
  width: calc(100%/3 * 1);
}

.Header {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: .625em;
}

.Tags {
  display: flex;
  flex-direction: row;
  margin-top: .833em;
  flex-wrap: wrap;
}

.Tags > div {
  margin-top: .417em;
}

.TagsFeatured {
  margin-top: 0;
  margin-bottom: .833em;
}

.Tags > :not(:last-child) {
  margin-right: .417em;
}

.Preview {
  height: 100%;
}
