.ModalHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.ModalHeader > h2 {
  flex: 1;
}

.Cover {
  width: calc(100% + 2.5em);
  min-height: 8.333em;
  margin: 0 -1.25em;
  background-color: var(--color-light-gray);
}

.NoComments {
  color: var(--color-light-dark);
}

.CommentButtons {
  margin-top: .833em;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.CommentButtons > :not(:last-child) {
  margin-right: .833em;
}

.CoverImage {
  width: 100%;
  height: auto;
}

.HeaderContainer {
  display: flex;
  flex-direction: column;
}

.Cycle {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.Row {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: .833em;
}

.Title {
  font-weight: bold;
  display: flex;
  flex-direction: row;
  flex: 1;
}

.Cycle {
  margin-left: .833em;
}

.ArticleTimestamp {
  font-size: .8em;
  color: var(--color-light-dark);
}

.TagContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-grow: 1;
}

.TagContainer > :not(:last-child) {
  margin-right: .833em;
}

.Line {

}

.ArticleText {
  margin-top: .833em;

}

.RatingControl {
  margin-top: .833em;
  text-align:right;
}

.RatingControl > :not(:last-child) {
  margin-right: .833em;
}
