.Title {
  color: var(--color-dark-gray);
}

.Description {
  color: var(--color-light-dark);
}

.Articles {
  display: flex;
  flex-direction: column;
}

.NoArticles {
  color: var(--color-light-dark);
}

.Articles .Article {

}

.Articles > :not(:last-child) {
  margin-bottom: .833em;
}

.Articles .Article:hover {
  cursor: pointer;
}

.Article .ArticleHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.Article .ArticleTitle {
  color: var(--color-light-dark);
  flex: 1;
  margin: 0;
}

.Article .ArticleTimestamp {
  color: var(--color-light-dark);
  font-size: .8em;
}

.Article .ArticlePreview {
  color: var(--color-dark-gray);
}
