.SectionDivider {
  color: var(--color-light-dark);
  font-size: 1.2em;
  margin: 1.25em 0;
  font-weight: bold;
  display: flex;
  flex: 1;
  text-transform: uppercase;
}

.SectionDivider:before, .SectionDivider:after {
  content: "";
  margin: auto .625em auto 0;
  flex-grow: 1;
  background-color: var(--color-light-dark);
  height: .08em;
}

.SectionDivider:after {
  margin-left: .625em;
  margin-right: 0;
}
